/vendor/
/node_modules/
/public/build/
/public/hot
/storage/*.key
/storage/app/public
/storage/debugbar
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

/.env
/.env.backup
/.env.production
/.phpunit.result.cache
/composer.phar

/.idea
/.vscode
/.fleet
*.swp
*.swo

/.phpunit.cache
/coverage/
npm-debug.log
yarn-error.log
