*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/backend/vendor
/backend/node_modules
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/storage/pail
/frontend-web/node_modules
/frontend-web/.next
/frontend-mobile/node_modules
/frontend-mobile/.expo
/frontend-mobile/.expo-shared
/frontend-mobile/dist
/frontend-mobile/web-build
Homestead.json
Homestead.yaml
Thumbs.db
